#img1 {
  display: none;
}
#img2 {
  display: none;
}
.text {
  display: none;
}
.polar {
  display: none;
}
.text1 {
  display: none;
}
.btndark {
  background-color: black;
  color: white;
}
.btnlight {
  background-color: #F4C0FF;
  color: black;
}
.btnoriginal {
  background-color: white;
  color: black;
}
